<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_layout">
<head>
  <meta charset="UTF-8">
  <title>List departments</title>
  <link rel="stylesheet" th:href="@{../static/bootstrap.min.css}">
  <script th:src="@{../static/bootstrap.min.js}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">
          Id
        </th>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Street address
        </th>
        <th scope="col">
          City
        </th>
        <th scope="col">
          State province
        </th>
        <th scope="col">
          Country
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="department : ${departments}">
        <td th:text="${department.departmentId}"></td>
        <td th:text="${department.departmentName}"></td>
        <td th:text="${department.location.streetAddress}"></td>
        <td th:text="${department.location.city}"></td>
        <td th:text="${department.location.stateProvince}"></td>
        <td th:text="${department.location.country.countryName}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>